<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utravel.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.utravel.domain.Article">
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="deploytime" jdbcType="VARCHAR" property="deploytime" />
    <result column="contents" jdbcType="VARCHAR" property="contents" />
    <result column="clicknumber" jdbcType="INTEGER" property="clicknumber" />
  </resultMap>

  <resultMap id="vart" type="com.utravel.vo.VArticle">
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="deploytime" jdbcType="VARCHAR" property="deploytime" />
    <result column="contents" jdbcType="VARCHAR" property="contents" />
    <result column="clicknumber" jdbcType="INTEGER" property="clicknumber" />
    <collection  property="imgList"
                 ofType="img"
                 column="tname"> <!--column是img的参数-->
    <id column="imgid" jdbcType="INTEGER" property="imgid" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="tname" jdbcType="VARCHAR" property="tname" />

    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    aid, uid, title, place, deploytime, contents, clicknumber
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_article
    where aid = #{aid,jdbcType=INTEGER}
  </select>

  <select id="selectAllByInfo" parameterType="string" resultMap="vart">
    select a.aid,u.uname,a.title,a.place,a.deploytime,a.contents,a.clicknumber,i.* from t_article a
    LEFT JOIN t_img i
    on i.tname = a.title
    INNER JOIN t_user u
    on u.uid = a.uid
    where title like "%"#{info}"%" or place like "%"#{info}"%" or contents like "%"#{info}"%"
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_article
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.utravel.domain.Article">
    insert into t_article (aid, uid, title, 
      place, deploytime, contents, 
      clicknumber)
    values (#{aid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{place,jdbcType=VARCHAR}, #{deploytime,jdbcType=VARCHAR}, #{contents,jdbcType=VARCHAR}, 
      #{clicknumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.utravel.domain.Article">
    insert into t_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        aid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="place != null">
        place,
      </if>
      <if test="deploytime != null">
        deploytime,
      </if>
      <if test="contents != null">
        contents,
      </if>
      <if test="clicknumber != null">
        clicknumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="deploytime != null">
        #{deploytime,jdbcType=VARCHAR},
      </if>
      <if test="contents != null">
        #{contents,jdbcType=VARCHAR},
      </if>
      <if test="clicknumber != null">
        #{clicknumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.utravel.domain.Article">
    update t_article
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="deploytime != null">
        deploytime = #{deploytime,jdbcType=VARCHAR},
      </if>
      <if test="contents != null">
        contents = #{contents,jdbcType=VARCHAR},
      </if>
      <if test="clicknumber != null">
        clicknumber = #{clicknumber,jdbcType=INTEGER},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.utravel.domain.Article">
    update t_article
    set uid = #{uid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      place = #{place,jdbcType=VARCHAR},
      deploytime = #{deploytime,jdbcType=VARCHAR},
      contents = #{contents,jdbcType=VARCHAR},
      clicknumber = #{clicknumber,jdbcType=INTEGER}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>