<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Utravel</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="layui/css/layui.css" />
    <script type="application/javascript" src="js/jquery-3.3.1.js"></script>
    <script type="application/javascript" src="js/bootstrap.js"></script>
    <script type="application/javascript" src="layui/layui.js"></script>
     <script src="js/vue.js"></script>
    <style type="text/css">
    	.dhl {
    		margin-top: 20px;
    	}
    	span {
    		margin-left: 30px;
    	}
    	 a:hover {
            background-color:greenyellow;
        }
          p {
			border: 0px solid #ccc;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			}


		dd {
			width: 120px;
			height: 35px;
		}
		#block:hover{
			background: #ebebeb;
		}

    </style>
</head>
<body>
<div class="container-fluid" >

	<!--顶部导航栏-->
    <div class="row" style="margin-top: 10px;">
		<div class="col-lg-2"></div>
        <div class="col-lg-1" >
            <a href="index.html"><img style="width: 120px; height: 60px;" src="images/1550844969(1).jpg"/></a>
        </div>
        <div class="col-lg-5 " style="float: left; font-size: large" >
        		
          <div class="dhl">
          
          	<span><a href="index.html">首页</a></span><span><a>目的地</a></span><span><a>旅游攻略</a></span><span><a>结伴</a></span><span><a>APP</a></span>
          </div> 
        </div>

        <div class="col-lg-2" style="float:left; font-size: large;width: 220px;" id="userStatus">
				<ul class="layui-nav layui-bg-green" lay-filter="">

					<li class="layui-nav-item"><a href="#">消息</a>
						<dl class="layui-nav-child"> <!-- 二级菜单 -->
							<dd><a href="">私信</a></dd>
							<dd><a href="">小组消息</a></dd>
							<dd><a href="">系统通知</a></dd>
							<dd><a href="">问答消息</a></dd>
							<dd><a href="">回复消息</a></dd>
							<dd><a href="">好友动态</a></dd>
						</dl>
					</li>

					<li class="layui-nav-item">
						<a href="#" id="userName">我的</a>
						<dl class="layui-nav-child"> <!-- 二级菜单 -->
							<dd><a href="userinfo.html">个人中心</a></dd>
							<dd><a href="write.html">写游记</a></dd>
							<dd><a href="userinfo.html">设置</a></dd>
							<dd onclick="quit()" ><a href="login.html">退出</a></dd>
						</dl>
					</li>
				</ul>
        	<!--<span ><a href="login.html">登录</a></span><span><a href="register.html">注册</a></span>-->
        </div>
		<div class="col-lg-2"></div>
    </div>

    
	<!--轮播图-->
	<div class="row" style="margin-top: 10px;">
		<div class="col-lg-12">
			<div class="layui-carousel" id="test1">
			  <div carousel-item>
			    <div>
			    	<div class="imgshow" style="position: relative">
			    		
			    		<img style="width: 100%;height: 100%;" src="images/show4.jpeg" />
			    		<div style="position:absolute; z-index:2; left:35%; top:80%">
							<form class="layui-form" action="">
								<div class="layui-form-item">
									<div class="layui-input-block" style="float: right; margin-left: 10px;">
										<button class="layui-btn" lay-submit lay-filter="formDemo" >搜索</button>
									</div>
									<div class="layui-input-block" style="float:right;width: 300px" >
										<input type="text" name="keyword" id="keyword" required  lay-verify="required" placeholder="搜目的地/攻略/内容" autocomplete="off" class="layui-input">

									</div>



								</div>
							</form>
						</div>
			   		</div> 
			    </div>
			    <div>
			    	<div  class="imgshow" style="position: relative">
			    		<img style="width: 100%;height: 100%;" src="images/wKgEaVxwFIWAML0lAAnBNtTFcWc23.jpeg" />
						<div style="position:absolute; z-index:2; left:35%; top:80%">
							<form class="layui-form" action="">
								<div class="layui-form-item">

									<div class="layui-input-block" style="float: right; margin-left: 10px;">
										<button class="layui-btn" lay-submit lay-filter="formDemo" >搜索</button>
									</div>
									<div class="layui-input-block" style="float: right;width: 300px" >
										<input type="text" name="keyword" id="keyword" required  lay-verify="required" placeholder="搜目的地/攻略/内容" autocomplete="off" class="layui-input">

									</div>

								</div>
							</form>
						</div>
			   		</div>
			    </div>
			    <div>
			    	<div  class="imgshow" style="position: relative">
			    		<img style="width: 100%;height: 100%;" src="images/wKgEaVxsB0uATeQnAARcFCA00Rc14.jpeg" />
						<div style="position:absolute; z-index:2; left:35%; top:80%">
							<form class="layui-form" action="">
								<div class="layui-form-item">

									<div class="layui-input-block" style="float: right; margin-left: 10px;">
										<button class="layui-btn" lay-submit lay-filter="formDemo" >搜索</button>
									</div>
									<div class="layui-input-block" style="float: right;width: 300px" >
										<input type="text" name="keyword" id="keyword" required  lay-verify="required" placeholder="搜目的地/攻略/内容" autocomplete="off" class="layui-input">

									</div>

								</div>
							</form>
						</div>
			    </div>
			  </div>
			</div>
		</div>
		
	</div>
</div>

<div class="container" id="showdata" >
	
	<!--中间导航条-->
	<div class="row" style="margin-top: 20px;" >
		<div class="col-lg-8" >
			<ul class="layui-nav layui-bg-green" lay-filter="timeList" style="align-content: center;">
				<li class="layui-nav-item"><a href="" style="margin-left: 30px">旅行家专栏</a></li>
				<li class="layui-nav-item "><a href="index.html" style="margin-left: 30px">热门游记</a></li>
				<li class="layui-nav-item layui-this"  style="margin-left: 30px" ><a href="newIndex.html">最新发表</a></li>

			</ul>
		</div>
		<div class="col-lg-4" style="float: right;margin-top: 8px;">
			<span style="margin-left: 185px;"><a href="write.html"><img src="images/1551003970(1).jpg" /></a></span>
			
		</div>
	</div>
	
	<!--显示列表-->
	<div class="row" style="margin-top: 20px;" v-for="item in infos" id="block">
			<div class="col-lg-1"></div>
			<div class="col-lg-3" v-for="(head,index) in item.imgList" v-if='index<1' @click="toDetial(item.aid)">
				<!--引用地址需要使用v-bind: 简写形式用 ：代替-->
				<img style="width: 200px;height: 160px;" :src="head.imgurl" />
			</div>
		<div class="col-lg-8">
			<!--标题行-->
			<div class="row" style="margin-top: 10px;" @click="toDetial(item.aid)">
				<div class="col-lg-12" style="font:'微软雅黑 Light'; font-size:x-large;">
					<span >{{item.title}}</span>
				</div>
			</div>
			<!--内容概要行-->
			<div class="row" style="margin-top: 10px;" @click="toDetial(item.aid)">
				<div class="col-lg-12" style="font-size: large;">
					<p >
						{{item.contents}}
					</p>
				</div>
			</div>
			<!--相关信息行-->
			<div class="row" style="margin-top: 10px;">
				<div class="col-lg-9">
					<span>{{item.place}},by</span><span style="color: #eb9316; ">{{item.uname}}</span>
				</div>
			 
				<div class="col-lg-3" >
					<p  >
						<span :id="item.aid">
							{{item.clicknumber}}
						</span>
							<i class="layui-icon layui-icon-praise" style="font-size: 25px; color: #1E9FFF;" @click="addClick(item.aid)"></i>
					</p>
				</div>
			</div>
		</div>
	</div>
	
	
		<!--分页-->
    <div class="row">
        <div class="col-lg-12">
            <div id="dvpage" style="text-align: center"></div>
        </div>
    </div>

	
</div>

<div class="container-fluid">

<!--底栏-->
	<div class="row" style="background: gray;margin-top: 40px;">
		<div class="col-lg-2"></div>
		<div class="col-lg-8" >
			<p style="color: white;">
				© 2019 Mafengwo.cn 京ICP备11015476号 京公网安备11010502013401号 京ICP证110318号违法和不良信息举报电话: 010-59222790 举报邮箱 mfwyouji@mafengwo.com

网络出版服务许可证：(总)网出证(京)字第161号增值电信业务经营许可证：京B2-20180228 营业执照帮助中心马蜂窝客服：国内4006-345-678海外 +86-10-5922-2799
			</p>
		</div>
		<div class="col-lg-2"></div>
	</div>
</div>

<script type="text/javascript">
    var keyword = null ;
    var totalCount = 0;
	var layer;
	var laypage;
    $(function () {
        getTimeList(1);
        getUser();
    })



    layui.use(['carousel','form','element','laypage'], function(){
  var carousel = layui.carousel;
  var form = layui.form;
   var element = layui.element;
   laypage = layui.laypage;
  //建造实例
  //轮播图
  carousel.render({
    elem: '#test1'
    ,width: '100%' //设置容器宽度
	,height: '550px'
    ,arrow: 'always' //始终显示箭头
    //,anim: 'updown' //切换动画方式
  });
   laypage.render({
       elem: 'dvpage', //注意，这里的 test1 是 ID，不用加 # 号
       count: totalCount, //数据总数，从服务端得到
       limit:5,

       jump: function(obj, first){
           //obj包含了当前分页的所有参数，比如：
           //console.log(obj.curr);
           var currentPage = obj.curr;//得到当前页，以便向服务端请求对应页的数据。
          // console.log(obj.limit); //得到每页显示的条数

           //首次不执行
				vue.infos = null;

               //do something
           getTimeList(currentPage);


       }
   });

        /*element.on('nav(timeList)', function(elem){
           // console.log(elem.text); //得到当前点击的DOM对象
			//alert(elem.text());
            $.ajax({

                type:"post",
                url:"/utravel/timeList.do?page=1",
                dataType:"json",
                //async: false,
                success:function (res) {
                    if (res.code==1){
                        totalCount=res.info.total;
                        vue.infos = res.info.rows;
                    }
                }
            })

        });*/


  //监听提交
  form.on('submit(formDemo)', function(data){
   // layer.msg(JSON.stringify(data.field));
      $.ajax({

          type:"post",
          url:"/utravel/artList.do?page=1",
          dataType:"json",
          data:data.field,
          success:function (res) {
              if (res.code==1){
                  totalCount=res.info.total;
                  vue.infos = res.info.rows;
              }
          }
      })
    return false;
  });

})



   var vue = new Vue({
        el: '#showdata',//el后面绑定元素块的#id
        data: {
            infos:null,
        },
	   methods:{
           addClick:function(id){
				$.ajax({
                    type:"get",
                    url:"/utravel/click.do?aid="+id,
                    dataType:"json",
                    success:function (res) {
                        if (res.code==1){
                            layer.msg("+1");
                            $("#"+id).html(res.info);
						} else{
                            layer.msg(res.info);
						}

                    }
                })
           },
           toDetial:function (id) {
               window.location.href="detail.html?aid="+id;
           }
	   }
    })

    //var pageIndex;
    function getList(pageIndex){
		keyword = $("#keyword");
    $.ajax({

		type:"post",
		url:"/utravel/artList.do?page="+pageIndex+"&info="+keyword,
		dataType:"json",
        async: false,
		success:function (res) {
			if (res.code==1){
                totalCount=res.info.total;
               vue.infos = res.info.rows;
			}
        }
	})
}

    function getList2(pageIndex){

        $.ajax({

            type:"post",
            url:"/utravel/artList2.do?page="+pageIndex,
            dataType:"json",
            async: false,
            success:function (res) {
                if (res.code==1){
                    totalCount=res.info.total;
                    vue.infos = res.info.rows;
                }
            }
        })
    }

    function getTimeList(pageIndex){
        $.ajax({

            type:"post",
            url:"/utravel/timeList.do?page="+pageIndex,
            dataType:"json",
            async: false,
            success:function (res) {
                if (res.code==1){
                    totalCount=res.info.total;
                    vue.infos = res.info.rows;
                }
            }
        })
	}


</script>




<script type="text/javascript">
    function getUser() {
        $.ajax({
            url:"/utravel/user/getUser.do",
            type:"get",
            dataType:"json",
            success:function (data) {
                if (data.code==1) {
                    if (data.info==null){
                        $("#userStatus").html('<span ><a href="login.html">登录</a></span><span><a href="register.html">注册</a></span>');
                    }/*else{
                        setTimeout(function(){
                            layer.msg("欢迎"+data.info.uname+"访问本站");
						},600);
                    }*/
                }else{
                    alert(data.info);
                }
            }
        })
    }




</script>


</body>
</html>